.footer__column-link {
    display: flex;
    text-decoration: none;
    column-gap: 10px;
    align-items: center;
    color: inherit;
    transition: opacity 0.5s ease;
  }

  .footer__column-link:hover {
      opacity: 0.5;
    }