.footer__columns {
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 60px 0 40px;
    min-height: 350px;
    box-sizing: border-box;
    color: white;
    justify-content: space-between;
  }